* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  background-color: lightblue;
  height: 100px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  border-radius: 50%;
}
