* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slider {
  border: 3px solid red;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 5%;
  height: 80vh;
  margin: 0 1em;
  object-fit: cover;
  border-radius: 20px;
  transition: width 0.5s;
}
